<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- The above template displays a radio button for each question choice. 
    The value of each radio button is the associated question choice’s ID. 
    The name of each radio button is "choice". That means, when somebody 
    selects one of the radio buttons and submits the form, it’ll send the 
    POST data choice=# where # is the ID of the selected choice. This is the 
    basic concept of HTML forms. -->

    
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!-- We set the form’s action to {% url 'polls:vote' question.id %} -->
    <form action="{% url 'polls:vote' question.id %}" method="post">
    
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <!-- nb the id is a forloop.counter -->
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
    </form>
</body>
</html>